---
layout: default
title: Home
permalink: /
---

<div class="section hero large">
  <h1>Moon Rocks</h1>
  <p class="large">Moon Rocks is the audio / visual NFT series created by Canadian artist Connell McCarthy.</p>
  <p class="large">The music and digital renders of each piece were crafted individually to create a unique and captivating experience.</p>
</div>

<div class="section slim grid">
  {% for item in site.items %}
    <div class="item__container">
      <div class="item__asset">
        <video id="asset-{{ item.slug }}" preload="auto" poster="{{ item.asset.poster }}" loop>
          <source src="{{ item.asset.src }}" type="video/webm">
        </video>
        {% include player-controls.html %}
      </div>
      <div class="item__info">
       <h2>{{ item.title }}</h2>
        <a href="{{ item.url }}">More information</a>
      </div>
    </div>
  {% endfor %}
</div>

{% include twitter.html %}