<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include loading.html %}
    {% include banner.html %}
    {% include logo.html %}

    {% include asset-pagination.html %}

    {% assign item = page %}
    
    <div class="section slim grid two">
      <div class="item__asset border">
        <video id="asset-{{ item.slug }}" preload="auto" poster="{{ item.asset.poster }}" loop>
          <source src="{{ item.asset.src.mp4 }}" type="video/mp4">
          <source src="{{ item.asset.src.webm }}" type="video/webm">
        </video>
        {% include player-controls.html %}
      </div>
      <div class="item__contents">
        <div class="item__contents__main">
          <h1>{{ item.title }}</h1>
          <p class="muted">Created on {{ item.date_created | date: "%B %d, %Y" }}</p>
          <p class="desc muted">{{ item.description }}</p>

          {% if item.link %}
            <a class="btn btn__secondary light" href="{{ item.link.url }}" target="_blank">
              Browse on {{ item.link.site }}
            </a>
          {% endif %}
        </div>
        <ul class="item__contents__metadata">
          <li>
            <p class="muted">Duration</p>
            <h2>{{ item.metadata.duration }}</h2>
          </li>
          <li>
            <p class="muted">BPM</p>
            <h2>{{ item.metadata.bpm }}</h2>
          </li>
          <li>
            <p class="muted">Key</p>
            <h2>{{ item.metadata.key }}</h2>
          </li>
          <li>
            <p class="muted">Material</p>
            <h2 style="text-transform: capitalize;">{{ item.metadata.rock }}</h2>
          </li>
        </ul>
      </div>
    </div>

    {% include twitter.html %}

    {% include footer.html %}
    <script src="/assets/js/main.js"></script>
  </body>
</html>